<div id="resources" class="page-content pb-1">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div>
        <h1 class="page-title">Resources</h1>
      </div>
    </div>
    <div class="row">
      <div class="jumbotron m-2 d-flex flex-column">
        <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/verbs">Verbs</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/countries">Countries</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/colours">Colours</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/sports">Sports & Games</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/time">Dates & Time</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/weather">The Weather</button>
      </div>
    </div>
  </div>
</div>