<div class="container-fluid w-100 d-flex justify-content-center">
  <div class="d-flex flex-column w-50">
    <!-- Person Containers -->
    <div class="d-flex flex-row align-items-center m-1">
      <div class="w-50" style="text-align: right;">I</div>
      <div class="d-flex flex-column justify-content-center align-items-center w-50">
        <div><b>{{ past?.ihe }}</b></div>
        <div><small><b><i>{{ past?.ila }}</i></b></small></div>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center m-1">
      <div class="w-50" style="text-align: right;">you (s.)</div>
      <div class="d-flex flex-column justify-content-center align-items-center w-50">
        <div><b>{{ past?.youshe }}</b></div>
        <div><small>(f.s.):<b><i>{{ past?.youfsla }}</i></b> (m.s.):<b><i>{{ past?.youmsla }}</i></b></small></div>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center m-1">
      <div class="w-50" style="text-align: right;">she / it</div>
      <div class="d-flex flex-column justify-content-center align-items-center w-50">
        <div><b>{{ past?.shehe }}</b></div>
        <div><small><b><i>{{ past?.shela }}</i></b></small></div>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center m-1">
      <div class="w-50" style="text-align: right;">he / it</div>
      <div class="d-flex flex-column justify-content-center align-items-center w-50">
        <div><b>{{ past?.hehe }}</b></div>
        <div><small><b><i>{{ past?.hela }}</i></b></small></div>
      </div>
    </div>
    <!-- End of singular forms -->
    <div class="d-flex flex-row align-items-center m-1">
      <div class="w-50" style="text-align: right;">we</div>
      <div class="d-flex flex-column justify-content-center align-items-center w-50">
        <div><b>{{ past?.wehe }}</b></div>
        <div><small><b><i>{{ past?.wela }}</i></b></small></div>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center m-1">
      <div class="w-50" style="text-align: right;">you (f.p.)</div>
      <div class="d-flex flex-column justify-content-center align-items-center w-50">
        <div><b>{{ past?.youfphe }}</b></div>
        <div><small><b><i>{{ past?.youfpla }}</i></b></small></div>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center m-1">
      <div class="w-50" style="text-align: right;">you (m.p.)</div>
      <div class="d-flex flex-column justify-content-center align-items-center w-50">
        <div><b>{{ past?.youmphe }}</b></div>
        <div><small><b><i>{{ past?.youmpla }}</i></b></small></div>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center m-1">
      <div class="w-50" style="text-align: right;">they</div>
      <div class="d-flex flex-column justify-content-center align-items-center w-50">
        <div><b>{{ past?.theyhe }}</b></div>
        <div><small><b><i>{{ past?.theyla }}</i></b></small></div>
      </div>
    </div>
  </div>
</div>