<div class="container-fluid w-100 d-flex justify-content-center">
  <div class="d-flex flex-column w-50">
    <!-- Person Containers -->
    <div class="d-flex flex-row align-items-center m-1">
      <div class="w-50" style="text-align: right;">Action Noun</div>
      <div class="d-flex flex-column justify-content-center align-items-center w-50">
        <div><b>{{ otherVerbForms?.gerundhe }}</b></div>
        <div><small><b><i>{{ otherForms?.gerundla }}</i></b></small></div>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center m-1">
      <div class="w-50" style="text-align: right;">Infinitive</div>
      <div class="d-flex flex-column justify-content-center align-items-center w-50">
        <div><b>{{ otherVerbForms?.infinitivehe }}</b></div>
        <div><small><b><i>{{ otherVerbForms?.infinitivela }}</i></b></small></div>
      </div>
    </div>
  </div>
</div>