<div class="container-fluid w-100 d-flex justify-content-center">
  <div class="d-flex flex-column w-50">
    <!-- Person Containers -->
    <div class="d-flex flex-row align-items-center m-1">
      <div class="w-50" style="text-align: right;">I</div>
      <div class="d-flex flex-column justify-content-center align-items-center w-50">
        <div><b>{{ future?.ihe }}</b></div>
        <div><small><b><i>{{ future?.ila }}</i></b></small></div>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center m-1">
      <div class="w-50" style="text-align: right;">you (m.s.) & she / it</div>
      <div class="d-flex flex-column justify-content-center align-items-center w-50">
        <div><b>{{ future?.youmsshehe }}</b></div>
        <div><small><b><i>{{ future?.youmsshela }}</i></b></small></div>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center m-1">
      <div class="w-50" style="text-align: right;">you (f.s.)</div>
      <div class="d-flex flex-column justify-content-center align-items-center w-50">
        <div><b>{{ future?.youfshe }}</b></div>
        <div><small><b><i>{{ future?.youfsla }}</i></b></small></div>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center m-1">
      <div class="w-50" style="text-align: right;">he / it</div>
      <div class="d-flex flex-column justify-content-center align-items-center w-50">
        <div><b>{{ future?.hehe }}</b></div>
        <div><small><b><i>{{ future?.hela }}</i></b></small></div>
      </div>
    </div>
    <!-- End of singular forms -->
    <div class="d-flex flex-row align-items-center m-1">
      <div class="w-50" style="text-align: right;">we</div>
      <div class="d-flex flex-column justify-content-center align-items-center w-50">
        <div><b>{{ future?.wehe }}</b></div>
        <div><small><b><i>{{ future?.wela }}</i></b></small></div>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center m-1">
      <div class="w-50" style="text-align: right;">you (p.)</div>
      <div class="d-flex flex-column justify-content-center align-items-center w-50">
        <div><b>{{ future?.youphe }}</b></div>
        <div><small><b><i>{{ future?.youpla }}</i></b></small></div>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center m-1">
      <div class="w-50" style="text-align: right;">they</div>
      <div class="d-flex flex-column justify-content-center align-items-center w-50">
        <div><b>{{ future?.theyhe }}</b></div>
        <div><small><b><i>{{ future?.theyla }}</i></b></small></div>
      </div>
    </div>
  </div>
</div>