<div id="home" class="page-content">
    <div id="home-header" class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="page-title">Remez::רמז</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Cool tips for learners of Hebrew.</h2>
            </div>
        </div>
        <div class="d-flex justify-content-start jumbotron">
            <b>Welcome to a site dedicated to one of the world's most mysterious languages. Whether you're Jewish or not, Hebrew holds a timeless facination which is just waiting to be unlocked. We'll walk you through the basics and give you some handy tips for understanding Hebrew.</b>
        </div>
        <div class="row d-flex justify-content-center">
            <a class="btn btn-primary btn-lg" routerLink="/writing" role="button">Start the journey here</a>
        </div>
    </div>
</div>